
/* BASE  ==========================*/
:root{
  --text-color-normal: black;
  --text-color-dark:white;
  --base-color1: #c271ff;
  --font-weight-title: 501;
  --font-size-title: 6rem;

  /*padding section normal*/
  --pad_section_normal: 80px 0 80px 0;
}
.dark-theme {
  color: var(--text-color-dark) !important;
}
.purple_theme {
  color: var(--text-color-dark) !important;
  background-color: var(--base-color1);
}
.highlight_text1 {
  color: var(--base-color1);
}
.normal_section {
  padding: var(--pad_section_normal)
}
.card {
  background-color: transparent;
  border: transparent;
}


/* NAV BAR  ==========================*/
.navbar-brand {
  margin: auto;
}
/* HERO SECTION  ==========================*/
.hero {
  padding-bottom: 10%;
}
.hero-section {
  background-image:url('images/pic_1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron {
  background-color: transparent;
  padding: 7rem 0 7rem 0;
}

.display-1 {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
}
@media (min-width: 320px) and (max-width: 576px) {
  :root {
    --font-size-title: 3.5rem;
  }
}
/* BUTTON  ========================== */
.btn-primary {
  background-color: var(--base-color1);
  border-radius: 35px;
  border-color: transparent;
}
.btn-primary:hover {
	background-color: rgb(216, 166, 255);
  border-color: transparent;
  opacity: 0.9;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
	background-color: rgb(127, 75, 167);
	border-color: #C271FF;
}
.btn-primary.focus, .btn-primary:focus {
	background-color: rgb(127, 75, 167);
	border-color: var(--base-color1);
	box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}
/* HERO SECTION CARDS ==========================*/


.hero .card h5 {
  font-weight: bold;
}
.hero .card p {
  font-style: italic;
}

/* CAROUSEL SECTION =============================*/
.carousel-inner {
	padding: 0 10% 0 10%;
}
.carousel-item {
  min-height: 240px;
}
.carousel-control-prev-icon {
	background-image: url(./images/arrow_white_left.png);
}
.carousel-control-next-icon {
	background-image: url(./images/arrow_white_right.png);
}
.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 35px;
	height: 80px;
}
.carousel-control-next, .carousel-control-prev {
  width: 3%;
}

/* POPULAR VIDEOS SECTION =====================*/
.videos_sect .carousel-inner {
	padding: 0 4% 0 4%;
}
.videos_sect .carousel-control-prev-icon {
	background-image: url(./images/arrow_black_left.png);
}

.videos_sect .carousel-control-next-icon {
	background-image: url(./images/arrow_black_right.png);
}


.youtube {
  position: relative;
  display: inline-block;
  width: 100%;
  
}
.youtube:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent url("./images/play.png");
background-position: center;
background-repeat: no-repeat;
background-size: 30%;
}

.card-body {
	padding: 0;
}
.row .user_review {
	padding-right: 0px;
}

.row .user_review img {
	max-height: 64px;
}

.max_width_stars {

}